WASP: confirm email address request
Dear ${user.firstName} ${user.lastName},

click here to 
<a href="http://localhost:8080/wasp/auth/confirmUserEmail.do?authcode=${authcode}&email=${urlencodedemail}">confirm your email address</a>
