WASP: confirm email address request

Dear ${pendinguser.firstName} ${pendinguser.lastName},

click here: 
<a href="http://localhost:8080/wasp/auth/confirmemail.do?authcode=${authcode}&email=${urlencodedemail}">to confirm your email address</a>