Pending User

<html>
<body>
<h3>
Dear ${primaryUser.firstName} ${primaryUser.firstName},

${pendinguser.firstName} 
${pendinguser.lastName}
has requested an account for 
${lab.name}
</h3>
</body>
</html>
