<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="wasp-eclipse-plugin" version="0.1.0.qualifier" name="Wasp System Eclipse Plugin">
   	<extension point="org.eclipse.ui.newWizards">
		<category id="edu.yu.einstein.wasp" name="%wasp.wizard.name"/>
		
		<wizard id="edu.yu.einstein.wasp.eclipse.wizards.WaspPluginProjectWizard"
				category="edu.yu.einstein.wasp"
				class="edu.yu.einstein.wasp.eclipse.internal.wizards.WaspPluginProjectWizard"
				icon="icons/wasp_project.gif"
				name="%wasp.wizard.project.name"
				project="true">
			<description>%wasp.wizard.project.description</description>
		</wizard>
	</extension>

</plugin>
