<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p [%c] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${catalina.home}/logs/wasp-daemon.log</File>
    <encoder>
      <pattern>%d %p [%c] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>3</maxIndex>
      <FileNamePattern>${catalina.home}/logs/wasp-daemon.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>64MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="org.apache.velocity.app.VelocityEngine" level="WARN"/>
  <logger name="org.hibernate" level="WARN"/>
  <logger name="org.springframework.integration" level="WARN"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.hibernate.SQL" level="WARN"/>
  <logger name="org.springframework.batch" level="WARN"/>
  <logger name="edu.yu.einstein.wasp" level="INFO"/>
  <root level="WARN">
    <appender-ref ref="stdout"/>
    <appender-ref ref="logfile"/>
  </root>
</configuration>