Please Login to WASP and accept or reject an existing user principal investigator application
<p>Dear ${administrator.firstName} ${administrator.lastName},</p>

<p>${user.firstName} ${user.lastName}, an existing WASP user, has requested to become a WASP Principal Investigator (lab name: '${labpending.name}').</p>

<p>To approve or reject this request to become a WASP PI, please <a href="${servletUrl}/auth/login.do">log in to WASP</a>, select Tasks from the menu bar, 
and click on the Department Administration Tasks link. Note that his email has been sent to all WASP administrators registered 
for the department of ${department.name}, any of whom may process this request.</p> 

<p>Regards,<br />The WASP Team</p>
