	<br />
	<p>
	<div style="background:#CCCCCC;font-size: 11px;width:100%">
	<center>WASP System. &copy; Albert Einstein College of Medicine. Distributed freely under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AFFERO General Public License</a>.<br>Core WASP System and plugin repository maintained by Albert Einstein College of Medicine Computational Epigenomics &amp; Genomics Cores (<a href="http://waspsystem.org/">waspsystem.org</a>).</center> 
	</div>
	</p>
</div>
</body>
</html>