WASP: New Job Submission
<p>Dear ${addressedTo.firstName} ${addressedTo.lastName},</p>

<p>Thank you for your recent job submission to the Genomics/Epigenomics Shared Facility. The reference number for this submission is J${job.getJobId()}. 
A brief summary of the job details appears below. To review this submission in greater detail, to follow its progress, 
and (when complete) to view or download your data files, <a href="${servletUrl}/auth/login.do">log into WASP</a>, 
select Job/My Submitted Jobs from the main menu, and click on the appropriate job number.</p> 

<p>As Principal Investigator of this lab, it is requested that you (or a designated Lab Manager) approve or reject this new job submission. 
To approve or reject the submission, log in to WASP as described above, select Tasks from the main menu, click on the Lab Management Tasks link, 
select Job J${job.getJobId()}, choose Approved or Rejected, and then click the Submit button. If you reject this job, please provide a 
reason in the space provided.</p> 

<p>Processing of your request will proceed following:<br />
1. Approval by the Principal Investigator (or designated Lab Manager) of your laboratory<br />
2. Approval by the head of the Genomics/Epigenomics Shared Facility<br />
3. Confirmation of funds availability by our Accounts Manager<br />
4. Arrival of your samples at the facility<br /></p>
<p>Note New Drop-off Times: Please drop off your samples on Mondays, Wednesdays, and Fridays between 2 pm and 4 pm (Price 159).</p>
<p>WHEN YOU SUBMIT YOUR SAMPLES TO THE FACILITY, CLEARLY WRITE THE SAMPLE NAME <b>AND</b> SAMPLE ID ON YOUR SAMPLE TUBES. A unique, WASP-generated Sample ID can be found under the Samples section at the bottom of this email or alternatively, by logging into your WASP account and visiting this job's sample page.</p>
<p>Should you have any further questions, please contact us using the information below.</p>
<p>Regards,<br />The WASP Team<br /></p>

<p>
<br />
<b>BRIEF JOB SUMMARY</b><br />

<b>Job Name &amp; Submitters</b><br />
Reference Number: J${job.getJobId()}<br />
Job Name: ${job.getName()}<br />
Date Submitted: ${job.getCreated()}<br />
Submitter: ${jobSubmitter.firstName} ${jobSubmitter.lastName} (email: ${jobSubmitter.getEmail()})<br />
Principal Investigator: ${pi.firstName} ${pi.lastName} (email: ${pi.getEmail()})<br /><br />

<b>Workflow &amp; Sequencer</b><br />
Workflow: ${job.getWorkflow().getName()}<br />
Sequencing Machine: ${machine}<br />
ReadType: ${readType}<br />
ReadLength: ${readLength} bp<br /><br />

<b>Samples</b><br />
#foreach(${sample} in ${submittedSampleList}) ## velocityCount is the default name for a foreach counter and it begins at 1
   ${velocityCount}. ${sample.getName()} (Sample ID: ${sample.getId()}; sample type: ${sample.getSampleType().getName()})<br />
#end
</p>