WASP: New Job Submission
<p>Dear ${addressedTo.firstName} ${addressedTo.lastName},</p>

<p>As a Genomics/Epigenomics Facility Manager, you are being sent this email to inform you that ${jobSubmitter.firstName} ${jobSubmitter.lastName}, 
a member of the lab headed by ${pi.firstName} ${pi.lastName}, has recently submitted a new job request to the 
Genomics/Epigenomics Shared Facility. The reference number for this submission is J${job.getJobId()} 
and a brief summary of the request appears below.</p>

<p>It is requested that you review the submission and either approve or reject it. Please <a href="${servletUrl}/auth/login.do">log into WASP</a>, 
select Tasks from the main menu, click on the
Facility Manager Tasks link, select job J${job.getJobId()}, indicate either Approved or Rejected, and submit. If you reject this job, 
please indicate a reason in the space provided. Note: That reason will be displayed to the PI and to the job submitter!</p>

<p>Regards,<br />The WASP Team<br /></p>

<p>
<br />
<b>BRIEF JOB SUMMARY</b><br />

<b>Job Name &amp; Submitters</b><br />
Reference Number: J${job.getJobId()}<br />
Job Name: ${job.getName()}<br />
Date Submitted: ${job.getCreated()}<br />
Submitter: ${jobSubmitter.firstName} ${jobSubmitter.lastName} (email: ${jobSubmitter.getEmail()})<br />
Principal Investigator: ${pi.firstName} ${pi.lastName} (email: ${pi.getEmail()})<br /><br />

<b>Workflow &amp; Sequencer</b><br />
Workflow: ${job.getWorkflow().getName()}<br />
Sequencing Machine: ${machine}<br />
ReadType: ${readType}<br />
ReadLength: ${readLength} bp<br /><br />

<b>Samples</b><br />
#foreach(${sample} in ${submittedSampleList}) ## velocityCount is the default name for a foreach counter and it begins at 1
  ${velocityCount}. ${sample.getName()} (sample type: ${sample.getSampleType().getName()})<br />
#end
</p>