WASP: confirm email address request
<p>Dear ${user.firstName} ${user.lastName},</p>

<p>click here to 
<a href="${baseUrl}/auth/confirmPIEmail.do?authcode=${authcode}&email=${urlencodedemail}">confirm your email address</a></p>