WASP: Confirm email address request
<p>Dear ${user.firstName} ${user.lastName},</p>

<p>Thank you for applying for a new WASP user account. The initial step in your registration process 
requires confirmation of your email address. To confirm your email address, 
<a href="${servletUrl}/auth/confirmUserEmail.do?authcode=${authcode}&email=${urlencodedemail}">please click here</a>.</p>
<p>Following confirmation of your email address, the Principal Investigator of the lab to which you applied will be contacted and asked to approve your request. 
Once that approval has been granted, you will be notified via email, your account will be fully activated, and you will be permitted to log in.</p>
<p>Regards,<br />The WASP Team</p>
