WASP: Lab Registration Denied
<p>Dear ${pendinguser.firstName} ${pendinguser.lastName},</p>

<p>We regret to inform you that your WASP application to join the laboratory headed by ${lab.user.firstName} ${lab.user.lastName} has been rejected.</p>

<p>Regards,<br />The WASP Team</p>