WASP: Request New Password
<p>Dear ${user.firstName} ${user.lastName},</p>

<p><a href="${servletUrl}/auth/resetpassword/form.do?authcode=${authcode}">Please click here</a> to reset your password.</p>

<p>Regards,<br />The WASP Team</p>
