WASP: Confirm New Email Address Request
<p>Dear ${user.firstName} ${user.lastName},</p>

<p>click here to 
<a href="${baseUrl}/auth/confirmNewUserEmail.do?authcode=${authcode}&email=${urlencodedemail}">confirm your new email address</a></p>
