BODY	{
	font-size: 13px;
	font-family: Helevetica, "MS Trebuchet", sans-serif;
	line-height: 16px;
	width:960px;
	margin:15px auto;
	}

H1	{
	font-size: 1.6em;
	margin-bottom: 20px;
	}
	
H2	{
	font-size: 1.2em;
	margin-bottom: 20px;
	}

P	{
	margin:0 0 20px 0;
	}
LABEL, TD.label, TH.label {font-weight: bold;}

TD	{padding: 5px;}

a {
	color: #444;
	text-decoration: none;
}

a:hover{
	color: #aa0000;
	text-decoration: underline;
}


.right	{float: right;}

#statusMessage	{
	/*background: #f4f9fc;
	border: 1px solid #8fc0e3;*/
	color: #2971a5;
	padding: 10px;
	}
	
#statusUpload	{
	/*background: #f8fff0;
	border: 1px solid #bbee77;*/
	color: #234600;
	padding: 10px;
	}

#error	{
	/*background: #fef5f1;
	border: 1px solid #ed541d;*/
	color: #8c2e0b;
	padding: 10px;
	}

HEADER#pageHeader	{
	margin-bottom: 20px;
	}

SECTION#jobDetails	{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #f7f7f7;
	border: 1px solid #ddd;
	color: #666;
	margin: 20px 0;
	padding: 10px;
	}

#jobDetails .info .item	{
	border-bottom: 1px solid #e7e7e7;
	padding: 4px;
	}


NAV#jobSubmit	{
	margin: 10px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}

NAV#jobSubmit	a{
	color: #444;
	text-decoration: none;
}

NAV#jobSubmit	a:hover{
	color: #aa0000;
	text-decoration: underline;
}

.navTabs li{
	padding-top: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	list-style-image: url(/wasp/css/waspBullet.png);
	
}

.navTabs b{
	font-weight: bold;
}

.navTabs a:hover{
	color: #aa0000;
	text-decoration: underline;;
}

.taskAlert{
	color: #ff0000;
}



	
INPUT[type="submit"],
.button, 
DIV.submit A,
TD.submit A,
.fm-button	{
	padding: 4px 8px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
	background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #fff);
	background-color: #E6E6E6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	}


TABLE.data	{
	border: 1px solid #ccc;
	margin: 10px 0;
	}

TABLE.data TD	{
	background: #ffffff;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	}

TABLE TD.error{
	color: #ff0000;
	border: 0px;
}
	
TABLE.data TD.noBorder	{
	background: #ffffff;
	border-bottom: 0px;
	}

TABLE.data TD.label	{
	background: #f7f7f7;
	border-right: 1px solid #ccc;
	font-weight: bold;
	}

TABLE.data TD.label-centered	{
	background: #f7f7f7;
	border-right: 1px solid #ccc;
	font-weight: bold;
	text-align: center;
	}
	
TABLE.data TD.input	{
	background: #ffffff;
	border-right: 1px solid #ccc;
	}
	
TABLE.data TD.input-centered	{
	background: #ffffff;
	border-right: 1px solid #ccc;
	text-align: center;
	}

TABLE.data TD.value {
	background: #ffffff;
	border-right: 1px solid #ccc;
	}
	
TABLE.data TD.value-centered {
	background: #ffffff;
	border-right: 1px solid #ccc;
	text-align: center;
	}
	
	



.samples	{
	font-size: 120%;
	padding: 20px 5px;
	}

DIV.greyback {
	background: #f0f0f0;
	padding: 20px 5px;
}

DIV.waspMessage {
	color:#FF0000;
	font-size: 120%;
	background: #FFE6E6;
	border: 1px solid #990000;
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 20px 0px;
}

SPAN.requiredField{
	color: #FF0000;
	margin: 10px;
}

.instructions	{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffe6), to(#fefec1));
	background-image: -moz-linear-gradient(0% 100% 90deg, #fefec1, #ffffe6);
	background-color: #E6E6E6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	line-height: 16px;
	margin: 10px 0;
	padding: 10px;
	}

/** POPUP WINDOWS **/

.ui-widget-header	{padding: 4px 10px;}

.EditTable	{
	margin: 10px;
	width: 95%;
	}

HR.ui-widget-content	{margin: 10px !important;}
