#container {
  width: 95%; 
  min-width: 980px;
  background: #ffffff;
  height: 93%;
  margin: auto;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
}

#header {
  background-image: url(../images/header_background.png); 
  padding :5px 5px 5px 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -moz-box-shadow: 5px 7px 5px black;
  -webkit-box-shadow: 5px 7px 5px black;
  box-shadow: 5px 7px 5px black;
}

#menu {
  background-image: url("../images/menu/menu_bar.png") ; 
  height: 26px;
  -moz-box-shadow: 5px 7px 5px black;
  -webkit-box-shadow: 5px 7px 5px black;
  box-shadow: 5px 7px 5px black;
  border-top: 1px solid #fff;
}


#content {
  background-color: #FFFFE6;
  padding :10px 20px 10px 20px;
  overflow: hidden;
  min-height: 93%;
  -moz-box-shadow: 5px 7px 5px black;
  -webkit-box-shadow: 5px 7px 5px black;
  box-shadow: 5px 7px 5px black;
}

#footer { 
  
  padding :5px 1px 1px 1px;
  background:#CCCCCC;
  font-size: 11px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}

#mainLogo{
	display: block;
	margin-left: auto;   margin-right: auto;
}


.header_nav {
	float:right;
	text-align:right;
	padding-top:5px;
	padding-right:5px;
	font-size: 14px;
}


.demo_warning {
	position:relative;
	bottom:0;
    right:0;
	text-align:right;
	padding-right:5px;
	font-size: 14px;
	color:red;
	z-index:1;
}


.center{
	margin-left: auto;
	margin-right: auto;
}



.fixed-width_scrollable {
	overflow-x:auto;
}

html {
	height: 93%;
}


body	{
	font-size: 13px;
	font-family: Helevetica, "MS Trebuchet", sans-serif;
	line-height: 16px;
	min-width:95%;
	margin: auto;
	margin-top: 10px;
  	margin-bottom: 10px;
	background-color:#989898;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	height: 93%;
	}

h1	{
	font-size: 1.6em;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #391D00;
	}
	
h2	{
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #391D00;
	}

p	{
	margin:0 0 20px 0;
	}
	
td {
	padding: 2px 10px 0 10px;
}

th {
	padding: 2px 10px 0 10px;
	font-weight: bold;
	background: #FAF2D6;
}

label, td.label, th.label {font-weight: bold;}





a, td.CaptionTD a, td.DataTD a, tr.ui-widget-content td a{
	color: #801A00;
	text-decoration: none;
}



a:hover, td.CaptionTD a:hover, td.DataTD a:hover, tr.ui-widget-content td a:hover{
	color: #aa0000;
	text-decoration: underline;
}


.right	{float: right;}

#statusMessage	{
	/*background: #f4f9fc;
	border: 1px solid #8fc0e3;*/
	color: #2971a5;
	padding: 10px;
	}
	
#statusUpload	{
	/*background: #f8fff0;
	border: 1px solid #bbee77;*/
	color: #234600;
	padding: 10px;
	}

#error	{
	/*background: #fef5f1;
	border: 1px solid #ed541d;*/
	color: #8c2e0b;
	padding: 10px;
	}

header#pageHeader	{
	margin-bottom: 20px;
	}

section#jobDetails	{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #f7f7f7;
	border: 1px solid #ddd;
	color: #666;
	margin: 20px 0;
	padding: 10px;
	}

#jobDetails .info .item	{
	border-bottom: 1px solid #e7e7e7;
	padding: 4px;
	}


nav#jobSubmit	{
	margin: 10px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}

nav#jobSubmit	a{
	color: #444;
	text-decoration: none;
}

nav#jobSubmit	a:hover{
	color: #aa0000;
	text-decoration: underline;
}

.navTabs li{
	padding-top: 5px;
	margin-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	list-style-image: url(../images/waspBullet.png);
	
}

.navTabs a {
	color: #801A00;
	text-decoration: none;
}

.navTabs a:hover{
	color: #aa0000;
	text-decoration: underline;;
}

div#tabs h2, b{
	color: #472400;
	font-weight: bold;
}

.taskAlert{
	color: #ff0000;
}

table.EditTable{
	
}

	
input[type="submit"], input[type="reset"],
.button, 
div.submit A,
td.submit A,
.fm-button	{
	padding: 4px 8px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bbbbbb));
	background: -moz-linear-gradient(top, #ffffff, #bbbbbb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb');
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	}

input[type="submit"]:hover, input[type="reset"]:hover,
.button:hover, 
.fm-button:hover,
div.submit a:hover,
td.submit a:hover  {
	color: #aa0000;
	text-decoration: none;
}



td.error{
	color: #ff0000;
	border: 0px;
}

td.CaptionTD{
	font-weight: bold;
	padding: 5px;
}

td.DataTD{
	padding: 5px;
}



td.submitBottom {
	border-top: 1px solid;
	padding: 10px 10px 10px 10px;
}
	

td.label-centered	{
	text-align: center;
	}
	
td.input	{
	background: #ffffff;
	border-right: 1px solid #ccc;
}
	
td.input-centered	{
	background: #ffffff;
	border-right: 1px solid #ccc;
	text-align: center;
}


	
td.value-centered {
	text-align: center;
}
	
	
td.FormElement {padding: 1px;}


.samples	{
	font-size: 120%;
	padding: 20px 5px;
	}

div.greyback {
	background: #f0f0f0;
	padding: 20px 5px;
}

div.waspMessage {
	color:#248F24;
	font-size: 120%;
	background: #F0FFF0;
	border: 1px solid #1A661A;
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 20px 0px;
	display:none;
}

div.waspMessage ul, div.waspErrorMessage ul{
	list-style-type: circle;
	margin: 0px 0px 0px 20px;
	padding: 0;
	border: 0;
}

div.waspErrorMessage {
	color:#FF0000;
	font-size: 120%;
	background: #FFE6E6;
	border: 1px solid #990000;
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 20px 0px;
	display:none;
}


span.requiredField{
	color: #FF0000;
	margin: 10px;
}

.instructions	{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffe6), to(#fefec1));
	background: -moz-linear-gradient(top, #ffffe6, #fefec1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe6', endColorstr='#fefec1');
	background-color: #fefec1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	line-height: 16px;
	margin: 10px 0 10px;
	padding: 10px;
	}

/** POPUP WINDOWS **/
/*
.ui-widget-header	{padding: 4px 10px;}

.EditTable	{
	margin: 10px;
	width: 95%;
	}

hr.ui-widget-content	{margin: 10px !important;}*/

TABLE.data	{
	border: 1px solid #ccc;
	margin: 10px 0;
	}

TABLE.data TD	{
	background: #ffffff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
	}

	
TABLE.data TD.noBorder	{
	background: #ffffff;
	border-bottom: 0px;
	}

TABLE.data TD.label	{
	background: #f7f7f7;
	border-right: 1px solid #ccc;
	font-weight: bold;
	}

TABLE.data TH.label	{
	background: #FAF2D6;
	border-right: 1px solid #ccc;
	font-weight: bold;
	text-align: center;
	}


TD.top-heading, TH.top-heading	{
	text-align: center;
	border-bottom: 1px solid #000;
	padding: 5px 10px 5px 10px;
}

tr.top-heading td {
	border-top: 1px solid #000;
}

tr.top-heading td td{
	border-top: none;;
}

.td-even-number {
	background-color: #FFF;
}

TD.button-padding {
	padding:10px 10px 10px 10px;
}

TD.value-centered {
	text-align: center;
	vertical-align: middle;
	}

TABLE.data TD.label-centered	{
	background: #f7f7f7;
	border-right: 1px solid #ccc;
	font-weight: bold;
	text-align: center;
	}
	
TABLE.data TD.label-right	{
	background: #f7f7f7;
	border-right: 1px solid #ccc;
	font-weight: bold;
	text-align: right;
	}
	
TABLE.data TD.input	{
	background: #ffffff;
	border-right: 1px solid #ccc;
	}
	
TABLE.data TD.input-centered	{
	background: #ffffff;
	border-right: 1px solid #ccc;
	text-align: center;
	}

TABLE.data TD.value {
	background: #ffffff;
	border-right: 1px solid #ccc;
	}
	
TABLE.data TD.value-centered {
	background: #ffffff;
	border-right: 1px solid #ccc;
	text-align: center;
	}
TABLE.data TD.value-centered-top-small-heavyborder {
	background: #ffffff;
	border: 2px solid #000;
	text-align: center;
	vertical-align: top;
	font-size: 10px;
	white-space: nowrap;
	}
TABLE.data TD.value-centered-small-heavyborder {
	background: #ffffff;
	border: 2px solid #000;
	text-align: center;
	font-size: 10px;
	white-space: nowrap;
	}
TABLE.data TD.value-centered-small {
	background: #ffffff;
	border-right: 1px solid #ccc;
	text-align: center;
	font-size: 10px;
	white-space: nowrap;
	}	

 
.ui-tooltip, .arrow:after {
    background: #fbf1d6;
    border: 1px solid black;
  }
  .ui-tooltip {
    max-width: 200px;
    padding: 5px 10px;
    font-size: 13px;
	font-family: Helevetica, "MS Trebuchet", sans-serif;
    color: #801A00;
    border-radius: 20px;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 45%;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
 
.no-close .ui-dialog-titlebar-close {
  display: none;
}

#wait_dialog-modal{
	visibility:hidden;
	padding:15px;
	font-size: 14px;
	z-index:10000;
}

.hidden {
	visibility:hidden;
}

#wait_dialog-modal td{
	vertical-align: middle;
}

.header_panel_right {
	position:relative;
	float: right;
}

.waspIcon {
}

.header_nav {
	text-align:right;
	padding-top:20px;
	padding-right:5px;
	font-size: 14px;
}

.ext_treeGrid td {
	padding: 0px;
}
