#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

.x-theme-neptune #app-header {
    color: white;
    text-shadow: none;
}

#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #FFFFE6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}
.settings {
    background-image:url(ext/images/icons/fam/folder_wrench.png);
}
.nav {
    background-image:url(ext/images/icons/fam/folder_go.png);
}
.info {
    background-image:url(ext/images/icons/fam/information.png);
}

.noPlugin {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 14pt;
	color: red;
}


div.tooltip {
	position: absolute;
	text-align: left;
	width: auto;
	height: auto;
	padding: 3px;
	font: 12px sans-serif;
	background: #ffff99;
	border: solid 1px #aaa;
	border-radius: 5px;
	pointer-events: none;
}

.multilineColumn .x-grid-cell-inner {
	white-space: normal;
}

.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
	white-space: normal;
}

/* Added by AJ: for proper display of the toolbar fields of PDF Portlet */
.x-form-item-input-row .x-form-item-body {
	padding: 0;
	vertical-align: middle;
	
}

.x-form-trigger-wrap .x-form-trigger-input-cell {
	padding: 0;
	vertical-align: middle;
}

.x-form-trigger-wrap .x-trigger-cell {
	padding: 0;
}
/* Added by AJ ends here */

