<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
  <persistence-unit name="wasp1">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>edu.yu.einstein.wasp.model.AChipseqArun</class>
    <class>edu.yu.einstein.wasp.model.AChipseqArunargs</class>
    <class>edu.yu.einstein.wasp.model.AcctGrant</class>
    <class>edu.yu.einstein.wasp.model.AcctGrantjob</class>
    <class>edu.yu.einstein.wasp.model.AcctInvoice</class>
    <class>edu.yu.einstein.wasp.model.AcctJobquotecurrent</class>
    <class>edu.yu.einstein.wasp.model.AcctLedger</class>
    <class>edu.yu.einstein.wasp.model.AcctQuote</class>
    <class>edu.yu.einstein.wasp.model.AcctQuoteUser</class>
    <class>edu.yu.einstein.wasp.model.AcctWorkflowcost</class>
    <class>edu.yu.einstein.wasp.model.Barcode</class>
    <class>edu.yu.einstein.wasp.model.Department</class>
    <class>edu.yu.einstein.wasp.model.DepartmentUser</class>
    <class>edu.yu.einstein.wasp.model.File</class>
    <class>edu.yu.einstein.wasp.model.Job</class>
    <class>edu.yu.einstein.wasp.model.JobApproved</class>
    <class>edu.yu.einstein.wasp.model.JobCost</class>
    <class>edu.yu.einstein.wasp.model.JobFile</class>
    <class>edu.yu.einstein.wasp.model.JobMeta</class>
    <class>edu.yu.einstein.wasp.model.JobSample</class>
    <class>edu.yu.einstein.wasp.model.JobSamplemeta</class>
    <class>edu.yu.einstein.wasp.model.JobTask</class>
    <class>edu.yu.einstein.wasp.model.JobTaskAChipseqArun</class>
    <class>edu.yu.einstein.wasp.model.JobTaskRIlluminaRls</class>
    <class>edu.yu.einstein.wasp.model.JobTaskRunlane</class>
    <class>edu.yu.einstein.wasp.model.JobTaskmeta</class>
    <class>edu.yu.einstein.wasp.model.JobUser</class>
    <class>edu.yu.einstein.wasp.model.Lab</class>
    <class>edu.yu.einstein.wasp.model.LabUser</class>
    <class>edu.yu.einstein.wasp.model.Labmeta</class>
    <class>edu.yu.einstein.wasp.model.Meta</class>
    <class>edu.yu.einstein.wasp.model.P</class>
    <class>edu.yu.einstein.wasp.model.PAChipseqArun</class>
    <class>edu.yu.einstein.wasp.model.Pjob</class>
    <class>edu.yu.einstein.wasp.model.Pmeta</class>
    <class>edu.yu.einstein.wasp.model.Project</class>
    <class>edu.yu.einstein.wasp.model.ProjectLab</class>
    <class>edu.yu.einstein.wasp.model.Prun</class>
    <class>edu.yu.einstein.wasp.model.Prunlane</class>
    <class>edu.yu.einstein.wasp.model.Psample</class>
    <class>edu.yu.einstein.wasp.model.RIlluminaLane</class>
    <class>edu.yu.einstein.wasp.model.RIlluminaRlsfile</class>
    <class>edu.yu.einstein.wasp.model.RIlluminaRun</class>
    <class>edu.yu.einstein.wasp.model.RIlluminaRunlanesample</class>
    <class>edu.yu.einstein.wasp.model.Resource</class>
    <class>edu.yu.einstein.wasp.model.ResourceBarcode</class>
    <class>edu.yu.einstein.wasp.model.ResourceLane</class>
    <class>edu.yu.einstein.wasp.model.ResourceMeta</class>
    <class>edu.yu.einstein.wasp.model.ResourceUser</class>
    <class>edu.yu.einstein.wasp.model.Role</class>
    <class>edu.yu.einstein.wasp.model.Run</class>
    <class>edu.yu.einstein.wasp.model.RunFile</class>
    <class>edu.yu.einstein.wasp.model.RunLane</class>
    <class>edu.yu.einstein.wasp.model.RunLanefile</class>
    <class>edu.yu.einstein.wasp.model.RunMeta</class>
    <class>edu.yu.einstein.wasp.model.Sample</class>
    <class>edu.yu.einstein.wasp.model.SampleBarcode</class>
    <class>edu.yu.einstein.wasp.model.SampleFile</class>
    <class>edu.yu.einstein.wasp.model.SampleLab</class>
    <class>edu.yu.einstein.wasp.model.SampleMeta</class>
    <class>edu.yu.einstein.wasp.model.SampleSource</class>
    <class>edu.yu.einstein.wasp.model.State</class>
    <class>edu.yu.einstein.wasp.model.StateAChipseqArun</class>
    <class>edu.yu.einstein.wasp.model.Statejob</class>
    <class>edu.yu.einstein.wasp.model.Statemeta</class>
    <class>edu.yu.einstein.wasp.model.Staterun</class>
    <class>edu.yu.einstein.wasp.model.Staterunlane</class>
    <class>edu.yu.einstein.wasp.model.Statesample</class>
    <class>edu.yu.einstein.wasp.model.Task</class>
    <class>edu.yu.einstein.wasp.model.TypeResource</class>
    <class>edu.yu.einstein.wasp.model.TypeSample</class>
    <class>edu.yu.einstein.wasp.model.User</class>
    <class>edu.yu.einstein.wasp.model.UserListener</class>
    <class>edu.yu.einstein.wasp.model.Usermeta</class>
    <class>edu.yu.einstein.wasp.model.Userrole</class>
    <class>edu.yu.einstein.wasp.model.WaspModel</class>
    <class>edu.yu.einstein.wasp.model.Workflow</class>
    <class>edu.yu.einstein.wasp.model.Workflowmeta</class>
    <class>edu.yu.einstein.wasp.model.Workflowtask</class>
    <class>edu.yu.einstein.wasp.model.Workflowtasksource</class>

    <properties>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="wasp"/>
      <property name="javax.persistence.jdbc.password" value="waspV2"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost/wasp"/>
      <property name="hibernate.hbm2ddl.auto" value="update" />

<property name="hibernate.ejb.event.post-insert" value="org.hibernate.ejb.event.EJB3PostInsertEventListener,org.hibernate.envers.event.AuditEventListener" />
<property name="hibernate.ejb.event.post-update" value="org.hibernate.ejb.event.EJB3PostUpdateEventListener,org.hibernate.envers.event.AuditEventListener" />
<property name="hibernate.ejb.event.post-delete" value="org.hibernate.ejb.event.EJB3PostDeleteEventListener,org.hibernate.envers.event.AuditEventListener" />
<property name="hibernate.ejb.event.pre-collection-update" value="org.hibernate.envers.event.AuditEventListener" />
<property name="hibernate.ejb.event.pre-collection-remove" value="org.hibernate.envers.event.AuditEventListener" />
<property name="hibernate.ejb.event.post-collection-recreate" value="org.hibernate.envers.event.AuditEventListener" />


      <!--
      <property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/
      <property name="hibernate.max_fetch_depth" value="3"/>
         -->
    
      <!-- cache configuration -->
      <!--
      <property name="hibernate.ejb.classcache.org.hibernate.ejb.test.Item" value="read-write"/>
      <property name="hibernate.ejb.collectioncache.org.hibernate.ejb.test.Item.distributors" value="read-write, RegionName"/>
         -->

      <!-- alternatively to <class> and <property> declarations, you can use a regular hibernate.cfg.xml file -->

      <!-- property name="hibernate.ejb.cfgfile" value="/org/hibernate/ejb/test/hibernate.cfg.xml"/ -->

    </properties>
  </persistence-unit>
</persistence>          

